<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Block Internet Download Manager (IDM)
    RewriteCond %{HTTP_USER_AGENT} "IDM" [NC]
    RewriteRule .* - [F,L]

    # Block video access from external sources and add security headers
    <FilesMatch "\.(mp4|webm|ogg)$">
        # Check Referer to allow access only from your site
        RewriteCond %{HTTP_REFERER} !^https?://(www\.)?biosamehsalah\.com/ [NC]
        RewriteCond %{HTTP_REFERER} !^$
        RewriteRule .* - [F,L]
        
        # Add security headers
        Header always set Content-Disposition "inline"
        Header always set X-Content-Type-Options "nosniff"
        Header always set Content-Security-Policy "default-src 'self'; media-src 'self';"
        Header always set X-Frame-Options "SAMEORIGIN"
        Header always set X-XSS-Protection "1; mode=block"
        Header always set Referrer-Policy "strict-origin-when-cross-origin"
    </FilesMatch>

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
